/* body settings */
h1 {
    background-color: #644b70;
    font-family: "Anton", sans-serif;
    color: white;
    padding-left: 10px;
}

 main .bg-body-tertiary {
    background-color: #644b70 !important;
    color: white;
    
}
/*body settings*/
