/*body settings*/
h1 { font-family: "Anton", sans-serif;
margin-top: 0px;
color: white;
}

/*paragraph settings*/
#p1 {
    background-image: url(/images/airjordan.jpg);
    background-size: 150px;
    background-repeat: repeat;
    opacity: .9;
}
#p2 {
    background-image: url(/images/airjordan.jpg);
    background-size: 150px;
    background-repeat: repeat;
    opacity: .9;
}
.paragraph {
    margin: 20px;
    font-size: 45px;
    font-family: "Anton", sans-serif;
    color: white;
}
/*paragraph settings*/

/*body settings*/

/*carousel settings */
.carousel {
    border: 20px solid rgb(34, 25, 25);
}
.carousel img {
    opacity: .7;
}
iframe {
    border: 3px solid whitesmoke;
    border-radius: 5px;
}
/*carousel settings */

/*carousel font settings */
.freelunch {
    font-family:  "Honk", system-ui;
    color: rgb(105, 210, 210);
    font-size: xx-large;
    font-weight: 700;
    list-style: none;
}
.freelunch .one {
    color: rgb(195, 94, 51);
    font-family: Concert One , sans-serif; 
}
.freelunch .two {
    color: rgb(255, 88, 116);
    font-family: Concert One , sans-serif; ;
}
.siemprefamilia {
    font-family: "Anton", sans-serif;
    color: rgb(50, 234, 172);
    font-size: 60px;
    font-weight: 700;
    background-color: white;
    margin-top: 5%;
}

.kdot {
    font-size: 30px;
    font-weight: 700;
    margin-top: 25%;
}
/*carousel font settings */

/*mediaqueries*/
@media screen and (max-width: 1350px) {
    div .carousel-caption {
        height: 90%;
        width: 75%;
    }
    iframe {
        height: 280px;
        width: 400px;
    } 
    .paragraph {
    font-size: 35px;
}
.siemprefamilia {
    font-family: "Anton", sans-serif;
    color: rgb(50, 234, 172);
    font-size: 35px;
    font-weight: 700;
    background-color: white;
    margin-top: 5%;
}
}
@media screen and (max-width: 1120px) {
    div .carousel-caption {
        height: 90%;
        width: 70%;
    }
    iframe {
        height: 200px;
        width: 300px;
    } 
     .freelunch {
        font-size: 25px;
     }
     .paragraph {
        font-size: 25px;
    }
    .siemprefamilia {
        font-family: "Anton", sans-serif;
        color: rgb(50, 234, 172);
        font-size: 25px;
        font-weight: 700;
        background-color: white;
        margin-top: 5%;
    }
}

@media screen and (max-width: 885px) {
    div .carousel-caption {
        height: 90%;
        width: 70%;
    }
    iframe {
        height: 180px;
        width: 260px;
    } 
     .freelunch {
        font-size: 15px;
     }
     .paragraph {
        font-size: 25px;
    }    
    .siemprefamilia {
        font-family: "Anton", sans-serif;
        color: rgb(50, 234, 172);
        font-size: 15px;
        font-weight: 700;
        background-color: white;
        margin-top: 5%;
    }
}
/*media queries*/