/*body settings*/
h1 { font-family: "Anton", sans-serif;
  margin-top: 0px;
  color: white;
  }
  
  /*carousel settings */
  .carousel {
      border: 20px solid rgb(34, 25, 25);
  }
  .carousel img {
      opacity: .4;
  }
  iframe {
      border: 3px solid whitesmoke;
      border-radius: 5px;
  }
  /*carousel settings */
  
   /*paragraph settings*/
  div .bckgroundimg {
      width: 99vw;
      height: 100vh;
      object-fit: cover;
      filter: brightness(.3);
    }
    
    #p1 {
      width:70%;
      font-size: 43px;
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-family: "Shrikhand", serif;
    }
    
    #p2 {
      width:70%;
      font-size: 43px;
      position: absolute;
      bottom: -1900px;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-family: "Shrikhand", serif;
    }
    /*paragraph settings*/
  /*body settings*/
  
  /*carousel font settings */
  .freelunch {
      font-family:  "Honk", system-ui;
      color: rgb(105, 210, 210);
      font-size: xx-large;
      font-weight: 700;
      list-style: none;
  }
  .freelunch .one {
      color: rgb(195, 94, 51);
      font-family: Concert One , sans-serif; 
  }
  .freelunch .two {
      color: rgb(255, 88, 116);
      font-family: Concert One , sans-serif; ;
  }
  .siemprefamilia {
      font-family: "Anton", sans-serif;
      color: rgb(50, 234, 172);
      font-size: 60px;
      font-weight: 700;
      background-color: white;
      margin-top: 5%;
  }
  
  .kdot {
      font-size: 30px;
      font-weight: 700;
      margin-top: 25%;
  }
  /*carousel font settings */
  
  /*media queries*/
  @media screen and (max-width: 1350px) {
      div .carousel-caption {
          height: 90%;
          width: 75%;
      }
      iframe {
          height: 280px;
          width: 400px;
      } 
      .paragraph {
      font-size: 35px;
  }
  .siemprefamilia {
      font-family: "Anton", sans-serif;
      color: rgb(50, 234, 172);
      font-size: 35px;
      font-weight: 700;
      background-color: white;
      margin-top: 5%;
  }
  
   /*paragraph settings*/
     .bckgroundimg {
      width: 100vp;
      height: 100vh;
      object-fit: cover;
      filter: brightness(.3);
    }
    
    
    #p1 {
      width:70%;
      font-size: 35px;
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-family: "Shrikhand", serif;
    }
    
    #p2 {
      width:70%;
      font-size: 35px;
      position: absolute;
      bottom: -1650px;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-family: "Shrikhand", serif;
    }
    /*paragraph settings*/
  }
  /*paragraph settings*/
  @media screen and (max-width: 1200px) {
       div .bckgroundimg {
          width: 100vp;
          height: 100vh;
          object-fit: cover;
          filter: brightness(.3);
        }
        #p1 {
          line-height: 2;
          width:90%;
          font-size: 20px;
          position: absolute;
          top: 95%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-family: "Shrikhand", serif;
        }
        #p2 {
          line-height: 2;
          width:95%;
          font-size: 25px;
          position: absolute;
          bottom: -1610px;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-family: "Shrikhand", serif;
        }
      }
        /*paragraph settings*/
  
  @media screen and (max-width: 1120px) {
      div .carousel-caption {
          height: 90%;
          width: 70%;
      }
      iframe {
          height: 200px;
          width: 300px;
      } 
       .freelunch {
          font-size: 25px;
       }
       .paragraph {
          font-size: 25px;
      }
      .siemprefamilia {
          font-family: "Anton", sans-serif;
          color: rgb(50, 234, 172);
          font-size: 25px;
          font-weight: 700;
          background-color: white;
          margin-top: 5%;
      }  
  }
  
  
  @media screen and (max-width: 885px) {
      div .carousel-caption {
          height: 90%;
          width: 70%;
      }
      iframe {
          height: 180px;
          width: 260px;
      } 
       .freelunch {
          font-size: 15px;
       }
       .paragraph {
          font-size: 25px;
      }    
      .siemprefamilia {
          font-family: "Anton", sans-serif;
          color: rgb(50, 234, 172);
          font-size: 15px;
          font-weight: 700;
          background-color: white;
          margin-top: 5%;
      }
    
      /*paragraph settings*/
      div .bckgroundimg {
          width: 100vp;
          height: 100vh;
          object-fit: cover;
          filter: brightness(.2);
        }
        #p1 {
          
          width:90%;
          font-size: 15px;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-family: "Shrikhand", serif;
        }
        #p2 {
          width:95%;
          font-size: 15px;
          position: absolute;
          bottom: -1350px;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-family: "Shrikhand", serif;
        }
        /*paragrapgh settings*/
  }
  /*media queries*/