/*universal site edits*/ 
body {
    background-color: black ;
    letter-spacing: 2px;
}
/*universal site edits*/ 

/*header site settings*/
.navbar {
    background-color: #644b70 !important;
    border-bottom: 5px solid rgb(179, 68, 68);
}
 
 header #nav {
   font-weight: 500;
   margin-left: auto;
   margin-right: auto;
   font-size: xx-large;
   font-family: "Anton", sans-serif;
}
header img {
    margin-left: 10px;
    border: 4px solid black;
    border-radius: 3px;
}

/*.navbar-toggler-icon {
    float:inline-end;
}*/
/*header site settings*/

/*product site edits*/ 
/*.container1 {
    display: flex;
    justify-content: space-between;

}
*/
/*footer*/
 .pt-5 {
 border-top: 4px solid rgb(179, 68, 68) !important;
    background-color: #644b70;
 margin-bottom: 2px;
}

footer {
    padding-bottom: 40px;
}

/*@media screen and (max-width: 1400px)
{
 
    }
}*/

/*product site edits*/ 